.product-card {
  width: 330px;
  position: relative;
  box-shadow: 0 2px 5px #333;
  margin: 0 auto;
  background: #1a2238;
}

.spacing {
  margin: 10px;
}

.badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: #6e6e6e;
  color: #bcfd4c;
  padding: 3px 10px;
}

.product-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  padding: 30px;
  background: #ead6cd;
}

.product-thumb img {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 30px;
}

.product-category {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #9daaf2;
  margin-bottom: 18px;
}

.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #00abe1;
  text-decoration: none;
  transition: 0.3s;
}

.product-details h4 a:hover {
  color: #f52544;
}

.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #99ddff;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #99ddff;
  padding-top: 20px;
}

.product-bottom-details div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-price {
  font-size: 18px;
  color: #f52544;
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
}

.product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #5ce0d8;
  transition: 0.3s;
  font-size: 17px;
}

.product-links a:hover {
  color: #f52544;
}

.try_now_button {
  margin: 10px;
  width: 160px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(
    45deg,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.try_now_button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.try_now_button:active {
  transform: scale(0.95);
}

.selected_text {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  width: 160px;
  height: 50px;
  color: white;
  background: linear-gradient(
    0deg,
    rgba(20, 167, 62, 1) 0%,
    rgba(102, 247, 113, 1) 100%
  );
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  user-select: none;
  -webkit-user-select: none;
}
